<form class="form-horizontal" role="form">
	<input type="hidden" class="form-control" id="inputId" value="{{id}}">
	<div class="form-group">
		<label for="inputDescricao" class="col-sm-2 control-label">Descricao</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputDescricao" placeholder="Nome" value="{{descricao}}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputCategoria" class="col-sm-2 control-label">Categoria</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputCategoria" placeholder="Categoria" value="{{categoria}}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPreco" class="col-sm-2 control-label">Pre&ccedil;o</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputPreco" placeholder="Pre&ccedil;o" value="{{preco}}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputQuantidade" class="col-sm-2 control-label">Quantidade</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputQuantidade" placeholder="Quantidade" value="{{quantidade}}">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="salvaProduto" type="button" class="btn btn-default">Salvar</button>
		</div>
	</div>
</form>