
<td style="text-align: right;">{{id}}</td>
<td>{{descricao}}</td>
<td>{{categoria}}</td>
<td>{{preco}}</td>
<td>{{quantidade}}</td>
<td class="actions">
	<div>
		<p>
			<a href="#editaProduto/{{id}}" class="btn btn-info"> Editar </a>
			<a class="btn btn-danger remover"> Remover </a>
		</p>
	</div>
</td>
